@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInAndScale {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-fadeInAndScale {
    animation: fadeInAndScale 1s ease-in-out;
}
